MODEL_WSL_DISTRO=AMB_Model
MODEL_DATA_ROOT=/home/youadmin/.local/share/amb82-model-convert
MODEL_WEBUI_HOST=0.0.0.0
MODEL_WEBUI_PORT=8891
MODEL_WEBUI_BASE_URL=https://model.mqttgo.io

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_USE_TLS=true
SMTP_USE_SSL=false
